// Navigation
.nav {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	@include media-q(medium) {
		float: right;
		margin-top: 0;
		margin-bottom: 0;
	}
	.nav__item {
		padding-top: 0;
		padding-bottom: 0;
		a {
			color: color(primary);
			padding: 12px 40px;
			width: 100%;
			display: block;
			@include media-q(medium) {
				display: inline-block;
				padding: 10px;
			}
			&:hover {
				border-radius: 5px;
				color: $white;
				background-color: $sea-green;
			}
		}
		@include media-q(medium) {
			float: left;
			margin-left: 20px;
		}
	}
}
