//Typography:
.container {
	font-family: $font-body;
	color: color(primary);
	font-size: $base__font-size;
	line-height: ($base__line/$base__font-size);
	font-weight: 300;
}
.link {
	color: #51ddfc;
	font-weight: bold;
}
.blockquote {
	font-size: 1.5em;
	font-weight: 300;
	font-style: italic;
	padding: 0 0 0 25px;
	border-left: 10px solid $sea-green;
	border-radius: 5px 0 0 5px;
	margin-left: 20px;
	margin-bottom: 70px;
	line-height: 1.1;
}
.headline {
	&--primary {
		font-size: em(32px);
		line-height: 1.1;
		color: $sea-green;
		margin: 10px 15px 30px;
	}
	&--secondary {
		font-weight: 300;
		margin: 20px 0;
	}
}
